footer
  .wrap
  
    .grid
      .grid-2
        .box
          h3 Share...
          #social-wrapper
          
      .grid-2
        .box
          h3 More...
          p You can check other projects of #[a(href="http://caradeuc.info/") Benjamin Caradeuc] here :
          a(href="http://labo.caradeuc.info").btn.fw labo.caradeuc.info
