section#gulp.alt-bg
  .wrap
    
    .grid
      .grid-2
        .box
          h1 Gulp  
          p Gulp is a javascript task runner that lets you automate tasks such as…
          ul
            li Bundling and minifying libraries and stylesheets.
            li Refreshing your browser when you save a file.
            li Quickly running unit tests
            li Running code analysis
            li Less/Sass to CSS compilation
            li Copying modified files to an output directory
          a(href="http://gulpjs.com/").btn.fw Learn more...
        
      .grid-2
        .box  
          img(src="img/gulp.png").fw

    
