section#howto
  .wrap
    h1 HOW TO
    p Now I will explain how to use it
    p 
      a(href="http://caradeuc.info") Mon site perso...
    p
      a.btn(href="http://benavern.github.io") Mon blog...
    
    hr
