section#intro
  .wrap
    hr
    
    h1 Hi, 
    p I am #[a(href="http://caradeuc.info") Benjamin Caradeuc].
    p This is my opinionated web starterkit. It is not meant to show the best practices but has been built for two main goals:
    ol
      li It helps me learn a lot by practicing some of the latest technologies I discovered and wanted to use one day
      li I will use it in the future for some of my personnal or professional projects.
    
    p It is meant to build one-page-apps and will maybe evolve for bigger projects.
    
    a(href="http://github.com/benavern/z-starterkit").btn.fw Find it on GitHub
    
    p These are the 3 main things I did want to know better :
    .grid
      .grid-3
        .box
          a(href="#jade",data-scroll="jade").btn.fw Jade
      .grid-3
        .box
          a(href="#sass",data-scroll="sass").btn.fw Sass
      .grid-3
        .box
          a(href="#gulp",data-scroll="gulp").btn.fw Gulp
      
    hr
