section#jade.alt-bg
  .wrap
      
    .grid
      .grid-2
        .box
          h1 Jade
          p.
            Jade is an elegant templating language focused on enabling quick HTML coding. 
            No more XML situps and percent prefixes for tags. It is HTML templating how it should be.
           
          p Jade is a Node.js brother of Haml, in the sense that it uses whitespace and indentation as part of its language.
          
          a(href="http://jade-lang.com/").btn.fw Learn more...
        
      .grid-2
        .box  
          img(src="img/jade.png").fw
