<!DOCTYPE html>
html(lang="fr")
head
  meta(charset="UTF-8")
  title Document
  meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0")
  link(rel="stylesheet", href="css/style.css")
  
body
  .wrap
    h1 Hello!
    include _partials/test_include.jade
    
  script(src="js/main.js")
